<div class="action">
    <div class="panel panel-danger">
        <div class="panel-heading">2019进击的菜鸟</div>
        <div class="panel-body">
            web框架开发
        </div>
        <div class="panel-body">
            crm&爬虫
        </div>
        <div class="panel-body">
            算法&设计模式&企业应用
        </div>
        <div class="panel-body">
            vue项目
        </div>
        <div class="panel-body">
            复习python&自动化&性能
        </div>
    </div>
    <div class="panel panel-warning">
        <div class="panel-heading">2020进击的小鸟</div>
        <div class="panel-body">
            fighting!
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">2021进击的大鸟</div>
        <div class="panel-body">
            go on !
        </div>
    </div>
</div>