<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>渲染方式</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h3>渲染方式一</h3>
            <form action="" method="post">
                {% csrf_token %}
                <label for="">用户名</label>
                 {# 实例对象加字段名，django自动渲染 #}
                {{ myform.name }} <span class="pull-right" style="color: red">{{ myform.name.errors.0 }}</span>
                <label for="">密码</label>
                {{ myform.pwd }}<span class="pull-right" style="color: red">{{ myform.pwd.errors.0 }}</span>
                <label for="">确认密码</label>
                {{ myform.r_pwd }}<span class="pull-right" style="color: red">{{ myform.r_pwd.errors.0 }}</span>
                <label for="">邮箱</label>
                {{ myform.email }}<span class="pull-right" style="color: red">{{ myform.email.errors.0 }}</span>
                <label for="">手机</label>
                {{ myform.tel }}<span class="pull-right" style="color: red">{{ myform.tel.errors.0 }}</span>
                <input type="submit" class="btn btn-success mybtn">
            </form>

            <hr>
            <h3>渲染方式二</h3>
            <form action="" method="post">
                {% csrf_token %}
                {% for field in myform  %}
                    <label for="">{{ field.label }}</label>
                    {{ field }} <span class="pull-right" style="color: red">{{ field.errors.0 }}</span>
                {% endfor %}
                <input type="submit" class="btn btn-success mybtn">
            </form>

            <hr>
            <h3>渲染方式三</h3>
            <form action="" method="post">
                {% csrf_token %}
                {{ myform.as_p }}
                <input type="submit" class="btn btn-success mybtn">
            </form>
        </div>
    </div>
</div>
</body>
</html>