{% extends 'base.html' %}

{% block style %}
    {{ block.super }}
    <style>
        .mybook{
            margin-top: 50px;
        }
        .btn{
            margin-top: 10px;
        }
    .opt_res{
        margin-top: 50px;
        color: red;
    }
    </style>
{% endblock style %}

{% block title %}
    <title>book</title>
{% endblock title %}

{% block content %}
    <h3>新增书籍</h3>

<div class="container mybook">
     <div class="row">
         <div class="col-md-6">
             <form action="" method="post">
                 {% csrf_token %}
                 <div>
                     <label for="">书籍名称</label>
                     <input type="text" class="form-control" name="title" value={{ title }}>
                 </div>
                 <div>
                     <label for="">价格</label>
                     <input type="text" class="form-control" name="price" value={{ price }}>
                 </div>
                 <div>
                     <label for="">出版日期</label>
                     <input type="date" class="form-control" name="date" value={{ date }}>
                 </div>
                 <div>
                     <label for="">出版社</label>
                     <input type="text" class="form-control" name="publish" value={{ publish }}>
                 </div>

                 <input type="submit" class="btn btn-success pull-right">


             </form>
             <p class="opt_res">{{ opt_res }}</p>
         </div>
     </div>
</div>
{% endblock content %}