{% extends 'base.html' %}

{% block style %}
    {{ block.super }}
    <style>
        .mybook {
            margin-top: 40px;
        }

        .btn {
            margin-top: 5px;
        }
        .other{
            margin-top: 5px;
        }
        .filter{
            margin-bottom: 30px;
        }
        .empty{
            text-align: center;
            color: #D0D0D0;
        }
    th,td{
        text-align: center;
    }
    </style>
{% endblock style %}

{% block title %}
    <title>book</title>
{% endblock title %}

{% block content %}
    <h3>查看书籍</h3>

    <div class="container mybook">
        <div class="row">
            <div class="col-md-7">
                <form class="form-inline filter" action="">
                    <div class="form-group">
                        <div class="form-group other">
                            <label for="">书籍名称</label>
                            <input type="text" class="form-control"  placeholder="python" name="title">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">查询</button>
                </form>
                <a href="/app01/book/add" class="btn btn-primary other">添加书籍</a>
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>书籍名称</th>
                        <th>价格</th>
                        <th>出版日期</th>
                        <th>出版社</th>
                        <th>作者</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for book in book_list %}
                        <tr>
                            <td>{{ book.title }}</td>
                            <td>{{ book.price }}</td>
                            <td>{{ book.pub_date|date:'Y-m-d' }}</td>
                            <td>{{ book.publish.name }}</td>
                            <td>
                                {% for author in book.authors.all %}
                                    {% if forloop.last %}
                                        <span>{{ author.name }}</span>
                                    {% else %}
                                        <span>{{ author.name }}</span>,
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                <a href="/app01/book/{{ book.pk }}/update" class="btn btn-info">编辑</a>
                                <a href="/app01/book/{{ book.pk }}/delete" class="btn btn-danger">删除</a>
                            </td>
                        </tr>
                        {% empty %}
                            <td class="empty" colspan="6">暂无数据!</td>
                    {% endfor %}

                    </tbody>

                </table>

            </div>
        </div>
    </div>
{% endblock content %}