<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="/static/blog/bs/css/bootstrap.css">
    <style>
        .header {
            width: 100%;
            height: 60px;
            background-color: #333333;
            line-height: 60px;
        }

        .header .title {
            color: white;
            font-size: 20px;
            margin-left: 20px;
            font-weight: 100;
        }

        .title a {
            margin-right: 20px;
        }
    </style>
</head>
<body>
<div class="header">
    <div class="content">
        <p class="title">
            <span>个人博客</span>
            <a href="" class="pull-right">管理</a>
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3 menu">1</div>
        <div class="col-md-6">2</div>
        <div class="col-md-3">3</div>
    </div>

</div>

</body>
</html>