h4{
    background-color: #ff6700;
    padding:6px;
    width:100px;
    text-align: center;
}
ul li{
    list-style: none;
}
ul > li {
    float: left;
    margin-right: 10px;
    position: relative;
    overflow: hidden;
}
.opts{
    margin:30px auto;
}
.book_box{
    position: relative;
    margin:100px auto;
}
.con{
    bottom: 20px;
    padding:10px;
    border: 1px solid #ff6700;
}

.active{
    display: none;
}

.old_book{
    border:1px solid #2aabd2;
    padding:3px;
    background-color: #b9def0;
}

.res{
    bottom: 20px;
    padding:10px;
}
