<!--！！！模板继承 重要！！！-->
<!--extends 标签是这里的关键。它告诉模版引擎，这个模版“继承”了另一个模版。当模版系统处理这个模版时，首先，它将定位父模版——在此例中，就是“base.html”。-->
{% extends 'base.html' %}

<!--继承后，模版引擎注意到 base.html 中的两个 block 标签，并用子模版中的内容来替换这些block。-->
<!--为了更好的可读性，你也可以给你的  endblock  标签一个名字 。例如加的 title：-->
{% block title %}
<title>index</title>
{% endblock title%}


{% block content %}
    <!--如果需要把继承模板的该部分内容带过来，写下这句话，不写则直接覆盖-->
    {{ block.super }}

    <h1>模板&标签</h1>
    <hr>
    <h2>模板变量</h2>
    <p><strong>int</strong>  {{ digits }}</p>
    <p><strong>str</strong>  {{ string }}</p>
    <p><strong>lis</strong>  {{ lis }}</p>
    <p><strong>lis_items</strong>  {{ lis.0 }}  {{ lis.1 }}</p>
    <p><strong>dic</strong>  {{ dic }}</p>
    <p><strong>dic_items</strong>  {{ dic.name }}  {{ dic.age }}</p>
    <p><strong>jack</strong>  {{ jack }}</p>
    <p><strong>jack_items</strong>  {{ jack.name }}</p>
    <p><strong>person_lis</strong>  {{ person_lis }}</p>
    <p><strong>person_lis_items</strong>  {{ person_lis.1.name }} {{ person_lis.1.age }}</p>

    <hr>
    <h2>过滤器</h2>
    <!--default  如果一个变量是false或者为空，使用给定的默认值。否则，使用变量的值-->
    <p><strong>default</strong>  {{ lis2|default:'nothing' }}</p>
    <!--length 返回值的长度。它对字符串和列表都起作用-->
    <p><strong>length</strong>  {{ lis|length }}</p>
    <!--filesizeformat  将值格式化为一个 “人类可读的” 文件尺寸 （例如 '1 KB', '11.5 MB', '189 bytes'）-->
    <p><strong>filesizeformat</strong>  {{ filesize|filesizeformat }}</p>
    <!--date 可以按指定的日期格式  'Y-m-d H:m:s'-->
    <p><strong>date</strong>  {{ now|date:'H:m:s' }}</p>
    <!--slice 切片  同list切片-->
    <p><strong>slice</strong>  {{ lis|slice:'2:' }}</p>
    <!--truncatechars 截取字节长度，比如参数6，截取5个字节，剩下的用省略号表示-->
    <p><strong>truncatechars</strong>  {{ string|truncatechars:3 }}</p>
    <!--truncatewords 截取单词，比如参数1，截取1个单词，剩下的用省略号表示-->
    <p><strong>truncatewords</strong>  {{ string|truncatewords:1 }}</p>
    <!--safe 信任返回的数据，对特定的html或者js等的语句不转义-->
    <p><strong>没有safe</strong>  {{ ops }}</p>
    <!--<p><strong>有safe</strong>  {{ ops|safe }}</p>-->

    <hr>
    <h2>模板标签</h2>
    <h3>for 标签</h3>
    {% for i in person_lis %}
    <!--{{forloop.counter}}  计数  从1开始    {{forloop.counter0}} 从0开始-->
    <p>{{forloop.counter}}  {{ i.name }}</p>
    <p>{{forloop.counter}}  {{ i.age }}</p>
    <!--empty 标签  在for循环无数据的时候执行其逻辑-->
    {% empty %}
    <p>暂无数据!</p>
    <!--结束标签-->
    {% endfor %}
    <h3>if 标签</h3>
    {% if n > 18 %}
    <p><strong>成年咯</strong></p>
    {%  elif n == 18 %}
    <p><strong>刚成年</strong></p>
    {% else %}
    <p><strong>小屁孩</strong></p>
    {% endif %}
    <h3>with 标签</h3>
    <!--等于命名一个变量，后面引用就好-->
    {% with person_lis.1.name as name %}
    <p>{{ name }}</p>
    <p>{{ name }}</p>
    <p>{{ name }}</p>
    {% endwith %}
    <h3>csrf_token 标签</h3>
    <form action="" method="post">
        <!--django有安全机制，post请求会校验，如果没有下面的csrf_token标签，在请求后台的时候回403 Forbidden -->
        <!--这个标签等于是在请求的index页面的时候，后台回有一个 csrf_token 字段，下次post请求的时候会和post参数一起传过去，后台校验token一致才会接受该post请求-->
        {% csrf_token %}
        <input type="text" name="user">
        <input type="password" name="pwd">
        <input type="submit">
    </form>

    <hr>
    <h2>自定义过滤器和标签</h2>
    步骤：
    <p>1、在settings中的INSTALLED_APPS配置当前app，不然django无法找到自定义的simple_tag.</p>
    <p>2、在app中创建templatetags模块(模块名只能是templatetags)</p>
    <p>3、创建任意 .py 文件，如：my_tags.py</p>
    <p>4、在使用自定义simple_tag和filter的html文件中导入之前创建的 my_tags.py</p>
    {% load tag_filters %}
    <!--   multi_filter 自定义过滤器  最多只能两个参数    -->
    <p>{{ n|multi_filter:10 }} </p>
    <!--   multi_tag 自定义标签 参数数量没有限制   -->
    <p>{% multi_tag 10 100 %} </p>
    <!--注意：filter可以用在if等语句后，simple_tag不可以-->
    {% if n|multi_filter:10 > 100 %}
        {{ n|multi_filter:10 }}
    {% endif %}

    <hr>
    <h2>模板继承</h2>
    <p>如果你在模版中使用模板继承extends标签，它必须是模版中的第一个标签。其他的任何情况下，模版继承都将无法工作。</p>
    <p>在base模版中设置越多的 block 标签越好。请记住，子模版不必定义全部父模版中的blocks，所以，你可以在大多数blocks中填充合理的默认内容，然后，只定义你需要的那一个。多一点钩子总比少一点好。</p>
    <p>如果你发现你自己在大量的模版中复制内容，那可能意味着你应该把内容移动到父模版中的一个 block 中。</p>
    <p>如果不想覆盖继承模板的盒子内容，想在其内容上增加内容，用 block.super </p>
{% endblock content%}